#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 550px) {
  .logo{
    width: 85vw !important;
  }
}

.logo {
  width: 500px;
  padding: 1em;
  background-color: white;
  border-radius:20px;
  overflow:hidden;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  margin-top: 30px;
}

/*
Navbar Section
*/

.navbar-nav {
  align-items: center !important;
}

.navbar-nav .nav-link {
  color: rgb(92, 33, 70) !important;
  padding-right: 1.3rem !important;
  padding-left: 1.3rem !important;
}

.nav-title {
  color: rgb(92, 33, 70) !important;
  justify-content: left !important;
  text-align: left !important;
  align-items: start !important;
  font-size: 1.5em !important;
  font-weight: 600 !important;
  margin: 0px !important;
}

.navbar {
  font-size: 1.2em;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  padding-left: 50px !important;
  padding-right: 50px !important;
  display: flex !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: rgb(43, 13, 32) !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.img-logo {
  height: 40px;
  width: auto;
}

#responsive-navbar-nav {
  margin-left: auto !important;
}

.navbar-toggler.collapsed {
  margin-left: auto !important;
}

.social-btn {
  color: rgb(185, 185, 185) !important;
  padding: 0px !important;
  width: 30px !important;
  height: 30px !important;
  align-items: center !important;
  justify-content: center !important;
  border: none !important;
  background-color: transparent !important;
}

/*
  Help Page
*/

.help-page-row {
  margin-top: 100px !important;
  margin-left: 5vh !important;
  margin-right: 5vh !important;
  display: flex !important;
  align-content: center !important;
}

.help-page-row .col {
  align-items: center !important;
  margin-bottom: 30px !important;
  min-width: 350px !important;
  max-width: 350px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.content-title {
  color: rgb(92, 82, 87) !important;
  font-size: 2em !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

.content-text {
  color: rgb(92, 82, 87) !important;
  font-size: 1.2em !important;
  font-weight: 400 !important;
  margin-bottom: 10px !important;
}

.paypal-button {
  background-color: rgb(0, 48, 135) !important;
  color: white !important;
  border: 2px solid rgba(0, 156, 222) !important;
  padding: 10px !important;
  font-size: 1.2em !important;
  font-weight: 500 !important;
  margin: 5px !important;
}

.gift-button {
  background-color: rgb(255,153,0) !important;
  color: rgb(242,242,242) !important;
  border: 2px solid rgb(255, 227, 144) !important;
  padding: 10px !important;
  font-size: 1.2em !important;
  font-weight: 500 !important;
  margin: 5px !important;
}

#qr-code {
  width: 200px !important;
  height: 200px !important;
  border-radius:10%;
  overflow:hidden;
}

.help-img {
  width: 350px !important;
  height: auto !important;
  border-radius:20px;
  overflow:hidden;
}

/*
  About Page
*/

.about-body{
  margin-top: 100px !important;
  margin-left: 5vh !important;
  margin-right: 5vh !important;
  display: flex !important;
  align-content: center !important;
}

.body-link{
  color: rgb(114, 102, 108) !important;;
}


.about-img{
  width: 500px !important;
  height: auto !important;
}

@media (max-width: 550px) {
  .about-img{
    width: 85vw !important;
  }
}